---
import { MoveRight } from "@lucide/astro";

import { projects } from "../../data/projects";
import ProjectCard from "./ProjectCard.astro";

const featuredProjects = projects.slice(-4);
---

<section
  id="projects"
  class="section
  bg-white
  transition-colors duration-300
  dark:bg-slate-900"
>
  <h2 class="section-title observed">
    Meus Projetos
  </h2>

  <div
    class="grid gap-10
    md:grid-cols-2
    lg:grid-cols-3
    2xl:grid-cols-2"
  >
    {
      featuredProjects.map((project) => (
        <ProjectCard {...project} />
      ))
    }
  </div>
</section>