---
import { Image } from "astro:assets";
---

<section
  id="about"
  class="section w-full bg-white transition-colors duration-300 dark:bg-slate-900"
>
  <div
    class="grid w-full items-center gap-16 px-6 md:px-12 lg:grid-cols-2 lg:gap-20"
  >
    <!-- TEXTO -->
    <div class="max-w-2xl">
      <h2 class="mb-8 section-title md:text-left! md:after:mx-0!">
        Sobre mim
      </h2>

      <div
        class="space-y-6 text-left text-slate-600 dark:text-slate-300 text-sm md:text-lg leading-8"
      >
        <p>
          Olá! Sou um desenvolvedor apaixonado por tecnologia, criação de
          interfaces e resolução de problemas. Tenho experiência desenvolvendo
          aplicações modernas, buscando sempre escrever código limpo, acessível
          e eficiente.
        </p>

        <p>
          Minha jornada envolve aprendizado constante, colaboração em equipe e a
          busca por transformar ideias em experiências digitais bem construídas.
        </p>
      </div>
    </div>

    <!-- FOTO -->
    <div class="flex justify-center lg:justify-center">
      <div
        class="w-full max-w-md overflow-hidden rounded-3xl border border-slate-200 shadow-xl dark:border-slate-700"
      >
        <Image
          src="/images/profile.jpg"
          alt="Foto de perfil"
          class="aspect-square w-full object-cover"
          width={1200}
          height={800}
        />
      </div>
    </div>
  </div>
</section>