---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/experience/Experience.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/projects/Projects.astro";
import Testimonials from "../components/Testimonials.astro";
import Contacts from "../components/Contacts.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
   <Header />
   <Hero />
   <main class="flex-center flex-col gap-16 pt-16 text-slate-900">
      <Experience />
      <Skills />
      <Projects />
      <!-- <Testimonials /> -->
      <Contacts />
   </main>
   <Footer />
</Layout>
