---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import MobileMenu from "../components/MobileMenu.astro";
import Hero from "../components/Hero.astro";
import About from "../components/about/About.astro";
import Experience from "../components/experience/Experience.astro";
import Skills from "../components/skills/Skills.astro";
import Projects from "../components/projects/Projects.astro";
import Testimonials from "../components/Testimonials.astro";
import Contacts from "../components/contacts/Contacts.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
   <Header />
   <MobileMenu />
   <main class="flex-center flex-col text-slate-900">
      <Hero />
      <About />
      <Experience />
      <Skills />
      <Projects />
      <!-- <Testimonials /> -->
      <Contacts />
   </main>
   <Footer />
</Layout>