---
import {
  House,
  User,
  Brain,
  FolderGit2,
  Mail,
  Moon,
} from "@lucide/astro";
---

<aside id="mobile-menu" class="absolute -translate-y-full transition-all duration-400 flex w-full flex-col bg-white dark:bg-slate-900">
  <a href="" class="mobile-menu-item">
    <House class="w-5 h-5" />
    <span>Home</span>
  </a>

  <a href="" class="mobile-menu-item">
    <User class="w-5 h-5" />
    <span>Sobre</span>
  </a>

  <a href="" class="mobile-menu-item">
    <Brain class="w-5 h-5" />
    <span>Habilidades</span>
  </a>

  <a href="" class="mobile-menu-item">
    <FolderGit2 class="w-5 h-5" />
    <span>Projetos</span>
  </a>

  <a href="" class="mobile-menu-item">
    <Mail class="w-5 h-5" />
    <span>Contatos</span>
  </a>

  <button class="mobile-menu-item theme-button">
    <Moon class="w-5 h-5" />
    <span>Trocar Tema</span>
  </button>
</aside>