---
import {
  House,
  User,
  Brain,
  FolderGit2,
  Mail,
  Moon,
} from "@lucide/astro";

const menuItems = [
  {
    label: "Home",
    href: "#hero",
    icon: House,
  },
  {
    label: "Sobre",
    href: "#about",
    icon: User,
  },
  {
    label: "Habilidades",
    href: "#skills",
    icon: Brain,
  },
  {
    label: "Projetos",
    href: "#projects",
    icon: FolderGit2,
  },
  {
    label: "Contatos",
    href: "#contact",
    icon: Mail,
  },
];
---

<aside
  id="mobile-menu"
  class="absolute
  flex w-full flex-col
  bg-white
  transition-all duration-400
  dark:bg-slate-900
  lg:hidden
  -translate-y-full"
>
  {
    menuItems.map(({ label, href, icon: Icon }) => (
      <a
        href={href}
        class="mobile-menu-item"
      >
        <Icon
          aria-hidden="true"
          class="h-5 w-5"
        />

        <span>
          {label}
        </span>
      </a>
    ))
  }

  <button
    type="button"
    aria-label="Alternar tema"
    class="mobile-menu-item theme-button"
  >
    <Moon
      aria-hidden="true"
      class="h-5 w-5"
    />

    <span>
      Trocar Tema
    </span>
  </button>
</aside>