---
import "../styles/global.css";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
	<meta name="description" content="Portfólio de Gabriel Couto, desenvolvedor front-end em formação. Venha saber mais sobre meus projetos, habilidades e experiências." />
	<meta name="author" content="Gabriel Couto" />
	<meta name="theme-color" content="#3b82f6" />
	<meta name="og:title" content="Gabriel Couto | Desenvolvedor Front-End" />
	<meta name="og:description" content="Portfólio de Gabriel Couto, desenvolvedor front-end em formação. Venha saber mais sobre meus projetos, habilidades e experiências." />
	<meta name="og:image" content="https://portifo-lio-ochre.vercel.app/public/og-image.png" />
	<meta name="og:url" content="https://portifo-lio-ochre.vercel.app/" />

    <title>Gabriel's Portifolio</title>
  </head>
  <body>
    <slot />
    <SpeedInsights />
    <script src="../animations/scrolling.js"></script>
  </body>
</html>
