---
import "../styles/global.css"
import SpeedInsights from '@vercel/speed-insights/astro';
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Gabriel's Portifolio</title>
	</head>
	<body>
		<slot />
		<SpeedInsights />
	</body>
</html>
